<div class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2 text-center">
    <h2>Sha Estudio del mueble </h2>

    <br>
    <div class="row">
        <div ng-controller="catalogoCtrl" ng-repeat="producto in productos track by producto.id " >


           

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img ng-src="{{ producto.imagen }}" alt="">
                        <div class="caption">
                            <h4><a class="lcd" href="#producto" ng-click="passObject(producto.id)" >{{ producto.nombre }}</a>
                            </h4>
                            <p>{{ producto.descripcion }}</p>
                        </div>
                    </div>
                </div>
            

        </div>

    </div>
    <div class="row">
        <h4><a  class="volver" onclick="goBack()" > volver </a>
        </h4>
    </div>

</div>